body,
h3,
h4,
p {
	color: #00203fff;
	font-weight: bold;
}



.jumbotron {
	background-color: rgb(158, 170, 169);
}

.r2a {
	border: 3px solid black;
	border-radius: 0.25rem;
padding: 2rem;
	background-color: rgb(158, 170, 169);
}

.btn-primary {
	background-color: rgb(158, 170, 169);
}

#buttons-view,
#city-input {
	margin-top: 1rem;
	border: 3px solid black;
	border-radius: 0.25rem;
	margin-right: 50px;
}

.list-group-item {
	background-color: rgb(158, 170, 169);
}

.card {
	background-color: rgb(158, 170, 169);
	border: 3px solid black;
}

.card-body {
	padding: 0.35rem;
}

.uvGrn {
	background-color: lightgreen;
	border-radius: 5px;
}

.uvYlw {
	background-color: lightyellow;
	border-radius: 5px;
}

.uvOrng {
	background-color: lightsalmon;
	border-radius: 5px;
}

.uvRd {
	background-color: palevioletred;
	border-radius: 5px;
}

.uvPrpl {
	background-color: violet;
	border-radius: 5px;
}

img {
	width: 15%;
	height: 15%;
}

.card-text {
	font-size: 10pt;
	
}

.forcast {
	padding: 1rem;
	
}
